<div class="itemCategory" data-class="CategoryItemBase">

    <!-- MODAL VIEW INFO -->
    <div data-property="modal"></div>

    <!-- LOADER -->
    <div class="cntLoader" data-property="cntLoader"></div>

    <!-- NAME OF CATEGORY -->
    <div class="headCategory" data-property="headCategory">
        <i class="material-icons btnExpandCategory" data-property="btnExpandCategory">expand_more</i>
        <div class="nameCategory" data-property="nameCategory"></div>
        <i class="material-icons btnShareCategory share" data-property="btnShareCategory">share</i>
        <i class="material-icons btnDelCategory" data-property="btnDelCategory">clear</i>
    </div>

    <!-- MESSAGE OF DRAG AND DROP IMAGES -->
    <div class="infoDragMessage" data-property="infoDragMessage"></div>

    <!-- ITEMS PROTOTYPE -->
    <div class="itemsPrototype" data-property="itemsPrototype">
        <!-- MESSAGE VOID PROTOTYPE -->
        <div class="itemsPrototypeMessage" data-property="itemsPrototypeMessage"></div>

        <!-- ALL ITEMS PROTOTYPE -->
    </div>

    <!-- BUTTON ADD IMAGES -->
    <label class="btnAddImages" data-property="btnAddImages">
        <i class="material-icons">add</i>
        <input type="file" data-property="fileImage" accept=".png,.jpg" multiple/>
    </label>

</div>