<div data-class="ModalBase">

    <div class="modal" data-property="modal">
        <div class="modalContent">
            <div class="modalHeader">
                <div class="modalTitle" data-property="modalTitle">Titulo</div>
                <span class="close" data-property="btnClose">&times;</span>
            </div>
            <div class="modalBody">
                <i class="material-icons modalIcon" data-property="modalIcon">info</i>
                <div class="containerMessage">
                    <input type="text" class="modalInput" data-property="modalInput"/>
                    <div class="modalMessage" data-property="modalMessage">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis culpa dignissimos facere harum in magnam neque numquam officiis porro quae quisquam, vero. Doloremque eaque facere impedit nisi placeat sunt?</div>
                    <div class="modalMessageSub" data-property="modalMessageSub"></div>
                </div>
            </div>
            <div class="modalFooter">
                <div class="btnModalCancel" data-property="btnModalCancel">Cancelar</div>
                <div class="btnModalOk" data-property="btnModalOk">Aceptar</div>
            </div>
        </div>
    </div>
</div>