<div class="container"  data-class="ProjectsViewBase">

    <div class="containerTitle">
        <div class="title" data-property="title"></div>

        <div class="navbarRigth">

            <div data-property="containerNotifications" class="containerNotifications"></div>

            <i class="material-icons btnSessionUser" data-property="btnSessionUser">account_circle</i>
            <div class="popover" data-property="popover">
                <div class="btnCloseSession" data-property="btnCloseSession"></div>
            </div>
        </div>
    </div>

    <div class="filter" data-property="filter"></div>

    <div class="itemButton" data-property="btnAdd">
        <div class="button-addProject" >+</div>
    </div>


    <div class="itemsProject" data-property="itemsProject">

        <div class="itemsProjectMessage" data-property="itemsProjectMessage"></div>

        <div class="itemProject" data-class="ProjectItemBase">
            <div class="iconNameProject" data-property="iconNameProject"></div>
            <div class="iconProject" data-property="iconProject"><i class="material-icons">folder</i></div>
        </div>

    </div>


</div>