<div class="mainPrototype2" data-class="PrototypeItem2Base">

    <div class="containerNamePrototype2">
        <i class="material-icons">desktop_windows</i>
        <div class="namePrototype2" data-property="namePrototype2"></div>
        <i class="material-icons">phone_iphone</i>
    </div>

    <div class="containerPrototype2" data-property="cntPrototype2">

        <label class="itemDesktop" data-property="itemDesktop">
            <i class="material-icons">add</i>
            <input type="file" data-property="fileDesk" accept=".png,.jpg"/>
        </label>

        <!-- CHECK BOX OF PROTOTYPE DESKTOP-->
        <div class="checkboxPrototype top" data-property="cntCheckDesk">
            <label class="containerCheckbox" data-property="checkDesk">
                <input type="checkbox"/>
                <span class="checkmark"></span>
            </label>
        </div>

        <label class="itemMobile" data-property="itemMobile">
            <i class="material-icons">add</i>
            <input type="file" data-property="fileMobile" accept=".png,.jpg"/>
        </label>

        <!-- CHECKBOX OF PROTOTYPE MOBILE -->
        <div class="checkboxPrototype top right" data-property="cntCheckMobile">
            <label class="containerCheckbox" data-property="checkMobile">
                <input type="checkbox"/>
                <span class="checkmark right"></span>
            </label>
        </div>

    </div>

</div>