<div class="sessionView" data-class="SessionViewBase">

    <div class="containerSession">

        <div class="containerHead">
            <div class="iconSession"><i class="material-icons">account_circle</i></div>
            <div class="labelSession" data-property="labelSession"></div>
        </div>

        <div class="containerInput">

            <div class="cntUsernameSession">
                <i class="material-icons">account_box</i>
                <input type="text" class="usernameSession" data-property="usernameSession" autofocus/>
            </div>

            <div class="cntPasswordSession">
                <i class="material-icons">https</i>
                <input type="password" class="passwordSession" data-property="passwordSession"/>
            </div>


            <button class="btnSession" data-property="btnSession"></button>
        </div>

        <div class="containerError" data-property="containerError">
            <div class="errorMessage" data-property="errorMessage">Error</div>
            <div class="btnErrorSession" data-property="btnErrorSession">&times;</div>
        </div>
    </div>

</div>