<!-- COMENT ITEM CLASS -->
<div class="commentItem" data-class="CommentItem2Base">
    <div class="cntInfoComment">
        <div class="userComment" data-property="userComment">Ivan</div>
        <div class="dateComment" data-property="dateComment">2018/05/22 09:24:00</div>
    </div>
    <div class="textComment" data-property="textComment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur sunt fugiat eligendi ratione culpa itaque reiciendis voluptatum magnam mollitia laudantium? Atque quis eum ad vitae optio quisquam ut blanditiis aliquam.</div>
</div>