<div class="containerMark" data-class="MarkItemBase">

    <i class="material-icons" data-property="btnConversation">feedback</i>

    <div class="containerConversation" data-property="conversationItem">
        <div class="cntTitleConversation">
            <div class="titleConversation" data-property="titleConversation"></div>
            <span class="close" data-property="btnClose">&times;</span>
        </div>
        <div class="itemsComments" data-property="itemsComment">
            <div class="strSendComments" data-property="strSendComments"></div>
            <!-- ALL COMMENTS -->
        </div>

        <div class="inpContainer">
            <input type="text" class="inpUser" data-property="inpUser"/>
            <div class="inpText" data-property="inpText" contenteditable="true"></div>
            <input type="button" class="btnSend" data-property="btnSend"/>
        </div>
    </div>


</div>