<div class="notificationView" data-class="NotificationViewBase">

    <i class="material-icons btnNotification" data-property="btnNotification">notifications<span data-property="counter">99</span></i>

    <div class="notificationList" data-property="notificationsList" >
        <div  class="notificationItem" data-class="NotificationItemBase">
            <div class="origin">
                <div class="project" data-property="project"></div>
                <div class="prototype" data-property="prototype"></div>
            </div>
            <div class="info">
                <div class="affair" data-property="affair"></div>
                <div class="material-icons status" data-property="status"></div>
            </div>

        </div>
    </div>

</div>