<div class="prototypeView" data-class="PrototypeViewBase">

    <!-- CONTAINER lOADER -->
    <div data-property="containerLoader"></div>

    <!-- PICTURE OF PROTOTYPE-->
    <div class="containerImage" data-property="containerImage"></div>

    <!-- ARROW LEFT -->
    <div class="btnBefore" data-property="btnBefore"><i class="material-icons">navigate_before</i></div>

    <!-- ARROW RIGHT-->
    <div class="btnNext" data-property="btnNext"><i class="material-icons">navigate_next</i></div>

    <!-- NAV BAR -->
    <div class="navbarPrototype" data-property="navbarPrototype">

        <div class="navbarLeft">
            <div class="namePrototypeView" data-property="namePrototype"></div>
        </div>

        <div class="navbarCenter">
            <div class="btnShowMarks"><i class="material-icons" data-property="btnShowMarks">visibility_off</i></div>
            <div class="btnInfoPrototype" data-property="btnInfo"><i class="material-icons">info</i></div>
            <div class="btnInfoPrototype"><i class="material-icons" data-property="btnDevice">phone_iphone</i></div>
            <div class="btnInfoPrototype"><i class="material-icons" data-property="btnHistory">history</i></div>
            <div class="historyList" data-property="historyList">
                <div class="historyItem" data-class="HistoryItemBase"></div>
            </div>
        </div>

        <div class="navbarRigth">
            <div data-property="containerNotifications"></div>
            <div class="countPrototypes" data-property="countPrototypes"></div>
            <div data-property="cntSelectCategory"></div>
            <div class="menuMobile" data-property="menuMobile">
                <div class="iconMenu"><i class="material-icons" data-property="iconMenu">menu</i></div>

                <div class="containerMenuMobile" data-property="containerMenuMobile">
                    <div class="itemMenu" data-property="btnShowMarksMobile"></div>
                    <div class="divider"></div>
                    <div class="itemMenu" data-property="btnInfoMobile"></div>
                    <div class="itemMenu" data-property="btnDeviceMobile" style="display: none;"></div>
                    <div class="itemMenu" data-property="btnHistoryMobile" style="display: none;"></div>
                </div>
            </div>
        </div>

        <!-- DIALOG INFO GENERAL PROTOTYPE -->
        <div class="cntInfoPrototype" data-property="infoPrototype">
            <div class="headInfoPrototype">
                <div class="datePrototype" data-property="datePrototype"></div>
                <span class="btnCloseInfo" data-property="btnCloseInfo">&times;</span>
            </div>
            <div class="descriptionPrototype" data-property="descriptionPrototype"></div>
        </div>
    </div>

</div>